body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  margin: 25%;
  margin-top: 0%;
}

header {
  margin-left: -25%;
  margin-right: -25%;
  background: #000;
  border-bottom: 1px solid #fff;
}
