body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  margin: 15%;
  margin-top: 0%;
}

header {
  margin-left: -30%;
  margin-right: -30%;
  padding-left: 15%;
  padding-right: 15%;
  background: #000;
  border-bottom: 1px solid #fff;
}
